@import "tailwindcss";

:root {
    /* This is the overall color palette for the website*/
    --forrest: #1B3B2F;
    --mocha: #6B4C3B;
    --blush: #F9C6C9;
    --cream: #FBF2ED;
    
    /* These are the writing colors. Do not mess with the writing colors */
    --white: #ffffff;
    --black: #000000;

    /* Different fonts for the header and subheader */
    --font-sans: 'Roboto Slab', serif;
    --headerFont: 'Dangrek', cursive;


    /* This is for the light mode */
    --background: var(--cream);
    --textColor: var(--black);
    --highlightColor: var(--forrest);
    --borderColor: var(--mocha);
    --surfaceColor: var(--blush);
    --navShadow: rgba(0, 0, 0, 0.1);
}

/* This is for the dark mode of the website */
.dark {
    --background: var(--forrest);
    --textColor: var(--white);
    --highlightColor: var(--blush);
    --borderColor: var(--cream);
    --surfaceColor: var(--mocha);
    --navShadow: rgba(255, 255, 255, 0.05);
}

.nav-shadow {
  box-shadow: 0 4px 2px -2px var(--navShadow);
}

html,
body {
  font-family: var(--font-sans);
  color: var(--textColor);
  background-color: var(--background);

}
h1, h2, h3, h4, h5, h6
{
  font-family: var(--headerFont);
}

.custom-bullet li::before {
  content: '✿'; 
  margin-right: 0.5rem;
  color: var(--highlightColor);
}
